/* select comparison-wrapper that has a child having .wood-table class */
.vs-active.wood-table::after {
  content: " ";
  display: block;
  width: 100%;
  margin-top: calc(-9vw);
  height: 10vw;
  background: url("/styles/wood-table-top.avif");
  background-size: cover;
  z-index: 10;
}

.comparison-wrapper {
  flex-grow: 1;
  max-height: calc(39.5vw);
  z-index: 20;
  margin-bottom: 1rem;
  display: flex;
}

.comparison.size.block {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 auto;
  width: fit-content;
  column-gap: 50px;
  transform-origin: top center;
}

.comparison.bottles.block {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-basis: 70%;
}

.comparison.size.block > div {
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  animation: fade-in-bottom 0.75s ease-in;
}

.comparison.bottles.block>div:nth-child(1) {
  display: flex;
  flex-direction: row-reverse;
}

.comparison.bottles.block>div:nth-child(2) {
  display: flex;
  flex-direction: row;
  z-index: -1;
  margin-left: calc(-2.75vw);
  padding-right: 5%;
  transform: scale(0.9);
}

.comparison.size.block>div>div:nth-child(2n) {
  margin-top: 10px;
}

.comparison.size.block > div > div:last-child {
  color: var(--neutral-color);
  font-weight: 500;
  font-size: var(--heading-font-size-m);
}

.comparison.size.block img {
  max-height: 43vw;
  filter: drop-shadow(0 5px 2px dimgray);
}

.comparison.bottles.block > div:first-child > div:first-child img {
  filter: drop-shadow(0 5px 2px dimgray);
}

.comparison.bottles.block > div:nth-child(2) > div:first-child img {
  filter: drop-shadow(0 3px 2px dimgray);
}

.comparison.bottles.block>div:nth-child(1) .picture {
  padding-top: 4vw;
}

.comparison.bottles.block>div:nth-child(2) .picture {
  padding-top: 5.5vw;
}

.comparison.bottles.block>div:nth-child(2)>div:not(.picture),
.comparison.bottles.block>div:nth-child(1)>div:not(.picture) {
  text-align: center;
}

.comparison.bottles.block>div:nth-child(2)>div>picture {
  filter: grayscale(90%);
}

@media screen and (min-width: 1100px) {
  .vs-active.wood-table > div > div {
    min-height: unset !important;
  }
}

/* Media queries for size comparison block */

@media screen and (min-width: 2000px) {
  .comparison.size.block .bottles-comparison-placeholder {
    height: 8vw;
  }
}

@media screen and (min-width: 1540px) {
  .comparison.bottles.block>div:nth-child(1) .picture {
    padding-top: 3vw;
  }

  .comparison.bottles.block>div:nth-child(2) .picture {
    padding-top: 4.5vw;
  }
}


@media screen and (max-width: 800px) {
  .comparison.bottles.block>div:nth-child(1) .picture {
    padding-top: 5vw;
  }

  .comparison.bottles.block>div:nth-child(2) .picture {
    padding-top: 6.5vw;
  }
}

@media screen and (max-width: 675px) {
  .comparison.bottles.block>div:nth-child(1) .picture {
    padding-top: 7vw;
  }

  .comparison.bottles.block>div:nth-child(2) .picture {
    padding-top: 7.5vw;
  }
}